.wrap1{
    margin-top: 15%;
}
.square1{
    width: 200px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}
.square2{
    width: 100px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}
.square5{
    width: 100px;
    height: 100px;
    background: #31a8ff;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}
.square6{
    width: 200px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}
.square9{
    width: 200px;
    height: 100px;
    background: royalblue;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}
.square10{
    width: 100px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}
.square13{
    width: 100px;
    height: 100px;
    background: red;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}
.square14{
    width: 200px;
    height: 100px;
    background: royalblue;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}
.square3{
    width: 100px;
    height: 100px;
    background: #00b733;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}

.square4{
    width: 200px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}

.square7{
    width: 200px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}

.square8{
    width: 100px;
    height: 100px;
    background: #7eff03;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}

.square11{
    width: 100px;
    height: 100px;
    background: red;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}

.square12{
    width: 200px;
    height: 100px;
    background: royalblue;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}
.square15{
    width: 100px;
    height: 100px;
    background: royalblue;
    float: left;
    margin-left: 10%;
    margin-bottom: 1%;
}

.square16{
    width: 200px;
    height: 100px;
    background: royalblue;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}